body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}


header img {
    max-width: 100%;
}

.carousel {
    margin: 20px auto;
    border-radius: 10px;
    background-color: #746e6e;
    padding: 5px;
}

div#carouselExampleIndicators {
    width: 35%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Pełna szerokość okna przeglądarki */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0; /* Zresetowanie wszelkich paddingów */
    margin: 0; /* Zresetowanie marginesów */
    overflow: hidden;
    color: #ffffff;
    text-align: center;
}

.navbar {
    padding: 0;
    margin: 0;
    width: 100% !important; /* Upewnienie się, że szerokość jest 100% */
}
    

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.navbar a:hover {
    background-color: #ff0000;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    padding: #ff0000;
}

.text-content {
    max-width: 45%; 
    color: #746e6e;
}

.navbar-brand {
    padding: 0; 
    margin-left: 0; 
}

.navbar-text {
    margin-left: 5px; 
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-weight: bold; 
}

.navbar-nav .nav-link:hover {
    color: #cccccc; 
}
@media (max-width: 615px) {
    .navbar-text {
        display: none;
    }
    .w-60 {
        width: 100%;
    }
    #contact-form {
        width:100% !important;
        min-width: 100%;
        padding: 1rem;
        }
    .footer-icons {
        width: 100%; 
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}
@media (max-width: 768px) {
    #footer-text {
        display: none;
    }

    .services-text {
        width: 20rem;
    }

    .footer-icons {
        width: 100%; 
        display: flex;
        justify-content: center;
        align-items:center; 
    }

    .navbar-nav {
        flex-direction: column; 
    }

    .navbar-nav .nav-item {
        margin-bottom: 0.5rem; 
    }
    #MYJOBS {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70%;
        padding-top: 5px;
    }

    .text-content {
        width: 100%;
        text-align: center;
        padding: 0px;
        max-width: 100%;
    }

    #carouselExampleIndicators {
        width: 100%;
        margin-top: 20px;
    }
    .carousel-inner img {
        height: auto;
        width: 100%;
    }
    div#carouselExampleIndicators {
        width: 100%;
    }
    #contact-form {
        width:90% !important;
        min-width: 90%;
        padding:1rem;
        }

    .responsive-table, 
    .responsive-table tbody, 
    .responsive-table tr, 
    .responsive-table td {
    display: block;
    width: 100%;
    }

    .responsive-table tr {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 8px;
    background: #fff;
    }

    .responsive-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    border: none;
    border-bottom: 1px solid #eee;
    }

    .responsive-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1rem;
    font-weight: bold;
    text-align: left;
    color: #555;
    }

    .btn-dark:hover {
        z-index: 1000; 
        opacity: 1; 
        background-color:transparent;
        border-color: transparent;
    
    }

    .carousel-control-next-icon:hover {
        background-color: transparent !important; 
        border-radius: 5px; 
        padding: 10px;
      } 
    .carousel-control-prev-icon:hover {
        background-color: transparent !important; 
        border-radius: 5px; 
        padding: 10px;
      } 
    
    #mobile-baner {
        display: flex !important;
    }
    .desktop-baner{
        display: none !important;
    }
}

#mobile-baner {
    display: none;
    padding-bottom: 0px;
}

.carousel-control-next-icon:hover {
    background-color: gray; 
    border-radius: 5px; 
    padding: 10px;
  } 
.carousel-control-prev-icon:hover {
    background-color: gray; 
    border-radius: 5px; 
    padding: 10px;
  } 
.scrolling-tags {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #f8f9fa;
    padding: 10px 0;
  }

  .scrolling-tags .tags-wrapper {
    display: inline-block;
    animation: scroll-tags 45s linear infinite;
  }

  .scrolling-tags .tag-item {
    display: inline-block;
    margin: 0 30px;
    padding: 5px 15px;
    background-color: #746e6e;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
  }

  @keyframes scroll-tags {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  .rounded {
    border-radius: 0.25rem !important;
}
img {
    animation: none;
}
.baner{
    padding-top: 3%;
    padding-bottom: 1.5%;
}
#contact-form {
width:40%;
height: 95%;
}
.red{
    color:red
}
.black {
    color: black;
}
.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-height: 70vh;*/
}
.footer-icon{
    height: 5vh;
}

#footer-text {
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7.5vh; /* 8% wysokości ekranu */
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column; /* Zachowuje obecny układ */
    justify-content: center; /* Wyśrodkowanie w pionie */
    height: 50px; /* Dostosuj do swojej wysokości */
}


.header-placeholder {
    height: 50px;
}

@keyframes shine {
    0% { background-position: -300px 0; }
    100% { background-position: 300px 0; }
}

.shiny-text-red {
    position: relative;
    background: linear-gradient(45deg, #FFD700 , rgba(255, 0, 0, 1), transparent);
    background-size: 100px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 20s infinite linear; /* Animacja przesuwa się wolniej */
}

.shiny-text-black {
    position: relative;
    background: linear-gradient(45deg, #FFD700, rgba(0,0,0,1), transparent);
    background-size: 100px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 20s infinite linear; /* Animacja przesuwa się wolniej */
}

.hidden-link {
    text-decoration: none; 
    color: inherit; 
    border: none; 
    background: none; 
    outline: none; 
}

@media (min-width: 768px) { 
    .container-about_us {
        flex-direction: column;
        display: flex;
    }

    .map {
        order: 1; 
        width: 50%;
    }

    .contact {
        order: 2; 
        width: 50%;
    }
    
}

.container-about_us {
    flex-direction: row;
    display: flex;
}

.map {
    order: 2; 
    width: 50%;
}

.contact {
    order: 1; 
    width: 50%;
}

.container-services {
    position: relative;
    width: 20vw;
    min-width: 400px;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid gray;
    border-radius: 10px;
    
}
.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.before {
    clip-path: inset(0 0 0 0);
        z-index: 1;
}
.slider {
    position: absolute;
    top: 0;
    left: 100%;
    width: 5px;
    height: 100%;
    background-color: gray;
    cursor: ew-resize;
    z-index: 2;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
}
.caption.before-caption {
    left: 50%;
}
.caption.after-caption {
    left: 50%;
}
.btn-dark {
    z-index: 1000; 
    opacity: 1; 
    background-color:transparent;
    border-color: transparent;

}

.container-services {
    position: relative;
    overflow: visible; 
}
.header-padding {
    padding-top: 8px;
}

.form-label {
    color:rgb(95, 88, 88);;
    font-weight: bold;
}

h5 {
    color: grey;
}

p {
    color:grey;
}

