body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    color: #fff;
    text-align: center;
}

header img {
    max-width: 100%;
}

.carousel {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div#carouselExampleIndicators {
    width: 35%;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.navbar a:hover {
    background-color: #575757;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.text-content {
    max-width: 45%; 
}
.navbar-menu a:hover {
    color: #007bff;
}
.navbar {
    padding: 0.5rem 1rem; /* Ustaw odpowiednie odstępy */
}

.navbar-brand {
    padding: 0; /* Usunięcie dodatkowego paddingu */
    margin-left: 0; /* Przesunięcie logo maksymalnie w lewo */
}

.navbar-text {
    margin-left: 5px; /* Odstęp pomiędzy logo a tekstem */
}

.navbar-nav .nav-link {
    color: white; /* Zmiana koloru tekstu na biały */
}

.navbar-nav .nav-link:hover {
    color: #cccccc; /* Kolor na hover */
}

@media (max-width: 768px) {
    .navbar-text {
        display: none; /* Ukrycie tekstu na małych ekranach */
    }

    .navbar-nav {
        flex-direction: column; /* Wyświetlanie menu linijka po linijce */
    }

    .navbar-nav .nav-item {
        margin-bottom: 0.5rem; /* Dodanie odstępów pomiędzy elementami */
    }
    #MYJOBS {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        order: 1;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #carouselExampleIndicators {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }
    .carousel-inner img {
        height: auto;
        width: 100%;
    }
    div#carouselExampleIndicators {
        width: 50%;
    }
}
.scrolling-tags {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #f8f9fa;
    padding: 10px 0;
  }

  .scrolling-tags .tags-wrapper {
    display: inline-block;
    animation: scroll-tags 60s linear infinite;
  }

  .scrolling-tags .tag-item {
    display: inline-block;
    margin: 0 30px;
    padding: 5px 15px;
    background-color: #6b6e72;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
  }

  @keyframes scroll-tags {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }